.Account {
    padding-top: 50px;
    padding-left: 100px;
    align-content: space-around;
}
.header{
    padding-left: 30px;
}

.myBlueButton {
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color:#599bb3;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:10px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
}
.myBlueButton:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
}
.myBlueButton:active {
    position:relative;
    top:1px;

}

.pad-top{
    padding-top: 50px;
    padding-left: 100px;
}